<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thankyou</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="styles/fonts/icomoon/style.css">
    <link rel="stylesheet" href="styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/magnific-popup.css">
    <link rel="stylesheet" href="styles/css/jquery-ui.css">
    <link rel="stylesheet" href="styles/css/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="styles/css/aos.css">
    <link rel="stylesheet" href="styles/css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">
    
    <%-include("../partials/header")%>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Contact</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Thank you!</h2>
            <p class="lead mb-5">You order was successfuly completed.</p>
            <p><a href="/shopall" class="btn btn-sm btn-primary">Back to shop</a></p>
          </div>
        </div>
      </div>
    </div>

<%-include("../partials/footer")%>
  
</div>

  <script src="scripts/jquery-3.3.1.min.js"></script>
  <script src="scripts/jquery-ui.js"></script>
  <script src="scripts/popper.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/owl.carousel.min.js"></script>
  <script src="scripts/jquery.magnific-popup.min.js"></script>
  <script src="scripts/aos.js"></script>
  <script src="scripts/main.js"></script>
    
  </body>
</html>