<header class="site-navbar" role="banner">
  <div class="site-navbar-top">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
          <form action="" class="site-block-top-search">
            <span class="icon icon-search2"></span>
            <input type="text" class="form-control border-0" placeholder="Search">
          </form>
        </div>

        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
          <div class="site-logo">
            <a href="/" class="js-logo-clone"><img style="height: 75px; width: 215px; padding-bottom: 5px;"
                src="/images/logo/logo.png" alt="logo_image"></a>
          </div>
        </div>

        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
          <div class="site-top-icons">
            <ul>
              <li><a href="#" id="user-icon"><span class="icon icon-person"></span></a>
                <!-- Dropdown Menu -->
                <div id="user-dropdown" class="dropdown-menu">
                  <a href="/userprofile">My Profile</a>
                  <a href="/orders">Order History</a>
                  <a href="#">Settings</a>
                 
                  <!-- <a href="/logout">Log Out</a>
                  <a href="/login">Sign In</a> -->
                  <% if (user) { %>
                    <a href="/logout">Log Out</a>
                  <% } else { %>
                    <a href="/login">Sign In</a>
                  <% } %>
                </div>
              </li>
              <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
              <li>
                <a href="/cart" class="site-cart">
                  <span class="icon icon-shopping_cart"></span>
                  <span class="count">2</span>
                </a>
              </li>
              <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                    class="icon-menu"></span></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu js-clone-nav d-none d-md-block">
        <li class=" active">
          <a href="/">Home</a>

        </li>
        <li class="has-children">
          <a href="#">Categories</a>
          <ul class="dropdown">
            <li><a href="/shopAll/674f1f2762333c214cfac64c">Women</a></li>
            <li><a href="/shopAll/674f1f3662333c214cfac653">Kids</a></li>
            <li><a href="/shopAll/674f1f1662333c214cfac645">Men</a></li>
          </ul>
        </li>
        <li><a href="/shopall">Shop</a></li>

        <li><a href="#">New Arrivals</a></li>
        <li class="has-children">
          <a href="#">Pages</a>
          <ul class="dropdown">
            <li><a href="/orders">Orders</a></li>
            <li><a href="/cart">cart</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/wallet">Wallet</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<script>
  const userIcon = document.getElementById('user-icon');
  const dropdown = document.getElementById('user-dropdown');

  userIcon.addEventListener('mouseover', function (event) {
    event.preventDefault();
    dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
  });

  window.addEventListener('click', function (event) {
    if (!userIcon.contains(event.target) && !dropdown.contains(event.target)) {
      dropdown.style.display = 'none';
    }
  });






</script>